p {
    margin: 0;
}

.Card_img {
    text-align: center;
}

.Card_types {
    display: flex;
    justify-content: center;
}

.Card_type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: bold;
    background: cyan;
    color: #fff;
    font-size: 20px;
}

.Card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;
}

.Card_data {
    font-size: 16px;
    padding-bottom: 1px;
}

.Card_data .title {
    font-weight: bold;
}