p {
    margin: 0;
    background: rgb(75, 74, 74);
    text-align: center;
}
p:hover{
    background-size: 100% 100%;
    
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.Card {
    background: rgb(75, 74, 74);
    border-radius: 10px;
    margin: 15px;
    border-style: ridge;
    text-align: center;
    border-color: #ef816c;
}

.Card_img {
    text-align: center;
}

.Card_types {
    display: flex;
    justify-content: center;    
}

.Card_type {
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    background: cyan;
    color: #fff;
}

.Card_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}

.Card_info {
    margin-left: 10px;
}

.Card_data {
    padding-bottom: 10px;
}

.Card_data .title {
    font-weight: 700;
}